.header {
  height: 80px;
  background-color: #2E3A46;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    margin-left: 20px;
  }

  .select {
    margin-left: auto;
    margin-right: 20px;

    label {
      color: #c3c3c3;
      margin-right: 12px;
      font-size: 14px;
    }

    select {
      padding: 5px 10px;
    }
  }


}
