#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}
.card-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;

  .card {
    width: calc(100% / 5 - 40px);
    margin: 20px;
    background-color: #2E3A46;
    padding: 20px 20px 65px 20px;
    text-align: center;

    .img-wrap {
      width: 100%;

      img {
        width: 100%;
        min-width: 120px;
      }
    }

    .album-name {
      color: #fff;
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 20px;
    }

    .artist-year {
      color: #787C7E;
      margin-top: 10px;
      font-size: 18px;
    }

  }
}